/*Body which contains font, font propreties, background color*/
body {
    font-family: "Roboto", "sans-serif";
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "width" 100px;
    padding: 0;
    margin: 0;
    background-color: rgb(232, 224, 221);
}

/*Wrapper*/
#wrapper {
    margin-top: 10px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin: 0;
    padding: 0;
}


/*Header H1 propeties*/
h1 {
    font-weight: 400;
    font-size: 35px;

    position: relative;
    /* Moves it from the left side*/
    left: 50px;


    /* Color of the text  */
    color: rgb(0, 0, 0);


    /* Text shadow property adds glow to my text */
    text-shadow: 0 0 30px rgb(255, 255, 255),
        0 0 20px rgb(255, 255, 255),
        0 0 30px rgb(255, 255, 255);
}

/*Header H2 propeties*/
h2 {
    font-weight: 400;
    font-size: 70px;

    position: relative;
    /* Moves it from the left side as well as the top side*/
    left: 50px;
    top: 100px;


    /* Color of the text */
    color: rgb(0, 0, 0);

    /* Text shadow property adds glow to my text */
    text-shadow: 0 0 10px rgb(255, 255, 255),
        0 0 20px rgb(255, 255, 255),
        0 0 30px rgb(255, 255, 255);


}

/*Header H3 propeties*/
h3 {
    font-weight: 500;
    font-size: 50px;
    color: rgb(255, 255, 255);

    position: relative;
    /* Moves it from the left side as well as the top side*/
    left: 50px;
    top: 60px;

    /* Color of the text */
    color: rgb(0, 0, 0);

    /* Text shadow property adds glow to my text */
    text-shadow: 0 0 10px rgb(255, 255, 255),
        0 0 20px rgb(255, 255, 255),
        0 0 30px rgb(255, 255, 255);
}

/*Header H4 propeties*/
h4 {
    font-weight: 500;
    font-size: 50px;
    color: rgb(255, 255, 255);

    position: relative;
    /* Moves it from the left side as well as the top side*/
    left: 50px;
    top: 60px;

    /* Color of the text */
    color: rgb(0, 0, 0);

    /* Text shadow property adds glow to my text */
    text-shadow: 0 0 10px rgb(255, 255, 255),
        0 0 20px rgb(255, 255, 255),
        0 0 30px rgb(255, 255, 255);
}

/*menu1 propeties*/
.menu1 {
    display: inline-flex;
    gap: 10px;
    background: rgb(236, 231, 227);
    justify-content: space-between;
    align-items: center;
}

/*menu1 a ref*/
.menu1 a {
    font-weight: 400;
    display: block;
    position: relative;
    text-align: justify;
}

/*hamburger menu properties*/
.hamburger-menu {
    display: none;
    align-items: center;
    justify-content: center;
}

.hamburger-menu button {
    background: none;
    border: none;
    font-size: 2em;
    color: gray;
}

.hamburger-menu button .fa-bars {
    cursor: pointer;
}

.close-menu {
    display: none;
}


/* Title one properties*/
.titleOne {
    display: flex;
    justify-content: center;
    /* horizontal */
    align-items: center;
    /* vertical */
    margin-top: 250px;
    margin-left: 160px;
    font-size: 50;

}

/* Title one link properties*/
.titleOne a {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
}

/* Title two properties*/
.titleTwo {
    display: flex;
    justify-content: center;
    /* horizontal */
    align-items: center;
    /* vertical */
    margin-top: 140px;
    margin-left: 160px;
    font-size: 30px;
    font-weight: 400;

}

/* Title two link properties*/
.titleTwo a {

    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
    border: #ffffff;
    border-style: dashed;
    border-width: 1px;
}

/* Title six properties*/
.titleSix {
    display: flex;
    justify-content: center;
    /* horizontal */
    align-items: center;
    /* vertical */
    margin-top: 140px;
    margin-left: 160px;
    font-size: 30px;
    font-weight: 400;
}

/* Title six link properties*/
.titleSix a {

    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
    border: #ffffff;



    text-shadow: 0 0 10px rgb(255, 255, 255),
        0 0 20px rgb(255, 255, 255),
        0 0 30px rgb(255, 255, 255),

}


/* Title seven properties*/
.titleSeven {
    display: flex;
    justify-content: center;
    /* horizontal */
    align-items: center;
    /* vertical */
    margin-top: 175px;
    margin-left: 160px;
    font-size: 30px;
    font-weight: 400;

}

/* Title seven link properties*/
.titleSeven a {

    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
    border: #ffffff;

    text-shadow: 0 0 10px rgb(255, 255, 255),
        0 0 20px rgb(255, 255, 255),
        0 0 30px rgb(255, 255, 255);
}


/* Class accept properties*/
.accept {
    display: flex;
    gap: 350px;
    justify-content: left;
    /* horizontal */
    align-items: center;
    /* vertical */
    margin-top: 120px;
    margin-left: 300px;
    font-size: 50px;
    padding-bottom: 15%;

}

/*Class accept link properties*/
.accept a {

    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
    border: #ffffff;
    font-weight: 300;

    text-shadow: 0 0 10px rgb(255, 255, 255),
        0 0 20px rgb(255, 255, 255),
        0 0 30px rgb(255, 255, 255);
}


/* Class accepted properties*/
.accepted {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-left: 70px;
    font-size: 50px;
    padding-bottom: 15%;

}

/* Class accepted link properties*/
.accepted a {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
    border: #ffffff;
    font-weight: 300;

    text-shadow: 0 0 10px rgb(255, 255, 255),
        0 0 20px rgb(255, 255, 255),
        0 0 30px rgb(255, 255, 255);
}




/* Ul properties, whicch is the link of all the options to my webpages, through the nav*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 0;
    background-color: rgba(0, 0, 0, 0);
}

/* List a link properties*/
li a {
    display: block;
    color: rgb(180, 0, 0);
    padding: 8px 16px;
    text-decoration: none;
}

/* List a link hover properties*/
li a:hover {
    background-color: #555555;
    color: white;
    width: 50px;
}


/*nav propeties*/
nav {
    margin-top: 20px;
    line-height: 30px;
    display: grid;
    position: fixed;
}


/*nav a ref properties*/
nav a {
    text-decoration: none;
    color: rgb(223, 223, 223);
    font-weight: bold;
}


/*nav hover properties */
nav a:hover {
    color: rgb(145, 39, 138);
}


/*menuI properties */
.menuI {
    text-align: right;
}


.menuI_active {
    text-align: right;
    color: rgb(0, 0, 0);
}




/*footer properties */
footer {
    margin-top: 30px;
    min-height: 30px;
    font-size: lighter;
    text-align: right;
    font-style: italic;
}


/*footer a ref properties */
footer a {
    text-decoration: none;
    color: darkgray;
}



/*media properties (for when the user views the webpage on a mobile device. it contains all 
the same elements as above, but we added it in the @media portion as well as did some small
altertations*/
@media (max-width: 1024px) {

    .hamburger-menu {
        display: flex;
        align-items: center;

    }

    .menu1 {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(232, 224, 221);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .menu1 a {
        padding: 20px;
    }

    .menu1 a,
    .menu1 a:hover {
        text-decoration: block;
        color: rgb(0, 0, 0);
        background-color: transparent;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2em;
        color: rgb(0, 0, 0);
    }

    .menu-deployed {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(232, 224, 221);
        z-index: 1000;
        padding-top: 50px;
    }

    button {
        border-width: 0px;
        background-color: rgb(232, 224, 221);
    }

    nav {
        margin: 0 auto;
        margin-bottom: 50px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0;
        line-height: relative;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 4px solid #000;
        background: #000;
        z-index: 100;
        color: rgb(232, 224, 221);
    }

    nav a {
        color: rgb(0, 0, 0);
    }

    h1 {
        margin-top: 50px;
    }

    #wrapper {
        margin-top: 50px;
        position: relative;
        width: 90%;
        margin: 0 auto;
        float: none;
    }

    footer {
        margin-top: 70px;
        font-size: 10px;
    }





}